<template name="addListItem">
  <form id="add-item" class="add-list-item">
    <h4>Add an item</h4>
    <div class="form-group">
      <label for="itemName">Item Name (required)</label>
      <input type="text" class="form-control" name="itemName" placeholder="Minecraft Lego Set">
    </div>
    <label for="itemUrl">Item URL</label>
    <input type="text" class="form-control" name="itemUrl" placeholder="https://amazon.com...">
    <p class="text-muted input-helper-text">Santa likes to shop online, too, you know!</p>
    <input type="submit" class="btn btn-success btn-block" value="Add This to My List!">
  </form>
</template>
