.send-list,
.send-list input[type="email"] {
	text-align: center;
}

.send-list .btn {
  margin: 0;
}

.send-list .send-buttons {
  margin-top: 20px;

  .btn-success {
    margin-right: 5px;
  }
}

.send-list p {
  margin: 20px 0;

  span {
    color: $red;
  }
}
