$red: #da5347;
$yellow: #ffcf50;
$blue: #1b9edb;
$green: #75ba50;

$orange: mix( $red, $yellow );
$purple: mix( $red, $blue );
$cyan: mix( $green, $blue );

$black-0: #222;
$black-1: #444;
$black-2: #666;
$black-3: #888;
$black-4: #aaa;
$black-5: #ccc;
$black-6: #eee;
